.restaurant {
    margin-bottom: 20px;
    p {
        margin: 0;
    }

    .online-status {
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        &.on {
            background: #3eff3e;
        }
        &.off {
            background: #aaafaa;
        }
    }
    .name {
        margin: 5px 0 0 20px;
        position: relative;
    }
    .tag {
        color: #228be6;
        font-size: 12px;
        &:not(nth-last-of-type) {
            margin-right: 4px;
        }
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .city {
        color: #aaa;
        .city-icon{
            margin-right: 5px;
        }
    }
    .image-wrapper {
        position: relative;
        .image{
            width: 100%;
            height: 280px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 3px 4px 7px #ccc;

        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            cursor: default;
            width: 100%;
            .price {
                font-weight: bold;
                font-size: 22px;
                padding: 0 0 10px 10px;
                text-shadow: 0.5px 0.5px 8px #130a03;
            }
            overflow: hidden;
            .description {
                //height: 0;
                overflow: hidden;
                transition: all .27s ease;
                background: #0807078c;
                display: block;
                span {
                    display: block;
                    padding: 10px 20px;
                }
             }
        }
    }



}