.search-input {
  position: relative;
  input[type="text"]{
    padding: 5px 10px;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}